---

- name: Configure debconf for Kerberos
  become: true
  block:
    - name: Set krb5-config/read_conf
      ansible.builtin.debconf:
        name: krb5-config
        question: 'krb5-config/read_conf'
        value: 'true'
        vtype: 'boolean'
    - name: Set krb5-config/default_realm
      ansible.builtin.debconf:
        name: krb5-config
        question: 'krb5-config/default_realm'
        value: "{{ domain | upper }}"
        vtype: 'string'
    - name: Set krb5-config/kerberos_servers
      ansible.builtin.debconf:
        name: krb5-config
        question: 'krb5-config/kerberos_servers'
        value: ''
        vtype: 'string'
    - name: Set krb5-config/add_servers_realm
      ansible.builtin.debconf:
        name: krb5-config
        question: 'krb5-config/add_servers_realm'
        value: "{{ domain | upper }}"
        vtype: 'string'
    - name: Set krb5-config/add_servers
      ansible.builtin.debconf:
        name: krb5-config
        question: 'krb5-config/add_servers'
        value: 'true'
        vtype: 'boolean'
    - name: Set krb5-config/admin_server
      ansible.builtin.debconf:
        name: krb5-config
        question: 'krb5-config/admin_server'
        value: "{{ domain }}"
        vtype: 'string'
    - name: Set krb5-kdc/debconf
      ansible.builtin.debconf:
        name: krb5-kdc
        question: 'krb5-kdc/debconf'
        value: 'true'
        vtype: 'boolean'
    - name: Set krb5-kdc/purge_data_too
      ansible.builtin.debconf:
        name: krb5-kdc
        question: 'krb5-kdc/purge_data_too'
        value: 'false'
        vtype: 'boolean'
    - name: Set krb5-admin-server/kadmind
      ansible.builtin.debconf:
        name: krb5-admin-server
        question: 'krb5-admin-server/kadmind'
        value: 'true'
        vtype: 'boolean'
    - name: Set krb5-admin-server/newrealm
      ansible.builtin.debconf:
        name: krb5-admin-server
        question: 'krb5-admin-server/newrealm'
        value: ''
        vtype: 'note'

- name: Install Kerberos Server
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
    cache_valid_time: "{{ 60 * 15 }}"
  with_items:
    - krb5-kdc
    - krb5-admin-server
  become: true
  register: 'install_krb'

- name: Firewall - Allow Kerberos KDC from LAN and Tailscale
  community.general.ufw:
    rule: allow
    port: '88'
    proto: "{{ item.proto }}"
    from_ip: "{{ item.source }}"
    comment: "Kerberos KDC - {{ item.name }}"
  become: true
  loop:
    - { source: "{{ network_home_private_cidr }}", proto: 'tcp', name: 'LAN' }
    - { source: "{{ network_home_private_cidr }}", proto: 'udp', name: 'LAN' }
    - { source: '100.64.0.0/10', proto: 'tcp', name: 'Tailscale' }
    - { source: '100.64.0.0/10', proto: 'udp', name: 'Tailscale' }

- name: Firewall - Allow Kerberos Password Change from LAN and Tailscale
  community.general.ufw:
    rule: allow
    port: '464'
    proto: "{{ item.proto }}"
    from_ip: "{{ item.source }}"
    comment: "Kerberos password change - {{ item.name }}"
  become: true
  loop:
    - { source: "{{ network_home_private_cidr }}", proto: 'tcp', name: 'LAN' }
    - { source: "{{ network_home_private_cidr }}", proto: 'udp', name: 'LAN' }
    - { source: '100.64.0.0/10', proto: 'tcp', name: 'Tailscale' }
    - { source: '100.64.0.0/10', proto: 'udp', name: 'Tailscale' }

- name: Firewall - Allow Kerberos Admin from Localhost Only
  community.general.ufw:
    rule: allow
    port: '749'
    proto: tcp
    from_ip: '127.0.0.1'
    comment: "Kerberos admin - localhost only"
  become: true
