---
##
# Install Jellyfin per their manual-install-via-APT instructions at
# <https://jellyfin.org/docs/general/installation/linux/#debuntu-debian-ubuntu-and-derivatives-using-apt>.
##

- name: Add universe APT Repo
  ansible.builtin.apt_repository:
    repo: "deb http://archive.ubuntu.com/ubuntu {{ ansible_facts['distribution_release'] }} universe"
    state: present
  become: true

- name: Add Jellyfin APT Key and Repo
  block:
    - name: Add Jellyfin APT Signing Key
      ansible.builtin.get_url:
        url: 'https://repo.jellyfin.org/jellyfin_team.gpg.key'
        dest: /etc/apt/keyrings/jellyfin_team.gpg.key
      become: true

    - name: Add Jellyfin APT Repo
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ [ansible_architecture] | map('extract', deb_architecture) | first }} signed-by=/etc/apt/keyrings/jellyfin_team.gpg.key] https://repo.jellyfin.org/ubuntu {{ ansible_facts['distribution_release'] }} main"
        state: present
      vars:
        deb_architecture: {
          "aarch64": "arm64",
          "x86_64": "amd64"
        }
      become: true

- name: Add Jellyfin APT Package
  ansible.builtin.package:
    name:
      - curl
      - gnupg
      - jellyfin
    state: present
  become: true

- name: Firewall - Allow Jellyfin from LAN and Tailscale
  community.general.ufw:
    rule: allow
    port: '8096'
    proto: tcp
    from_ip: "{{ item }}"
    comment: "Jellyfin - {{ 'LAN' if item == network_home_private_cidr else 'Tailscale' }}"
  become: true
  loop:
    - "{{ network_home_private_cidr }}"
    - '100.64.0.0/10'
