---

- name: Install debconf-utils
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
    cache_valid_time: "{{ 60 * 15 }}"
  with_items:
    - debconf-utils
  become: true

- name: Set slapd domain
  ansible.builtin.debconf:
    name: slapd
    question: 'slapd/domain'
    value: 'justdavis.com'
    vtype: 'string'
  become: true
- name: Set shared organization
  ansible.builtin.debconf:
    name: slapd
    question: 'shared/organization'
    value: 'Davis Family'
    vtype: 'string'
  become: true
- name: Set slapd backend
  ansible.builtin.debconf:
    name: slapd
    question: 'slapd/backend'
    value: 'HDB'
    vtype: 'string'
  become: true
- name: Set slapd password1
  ansible.builtin.debconf:
    name: slapd
    question: 'slapd/password1'
    value: "{{ vault_ldap_root_password }}"
    vtype: 'password'
  become: true
- name: Set slapd password2
  ansible.builtin.debconf:
    name: slapd
    question: 'slapd/password2'
    value: "{{ vault_ldap_root_password }}"
    vtype: 'password'
  become: true

- name: Install OpenLDAP
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
    cache_valid_time: "{{ 60 * 15 }}"
  with_items:
    - slapd
    - db-util
    - python3-ldap
    - ldap-utils
  become: true

- name: Firewall - Allow LDAP from LAN and Tailscale
  community.general.ufw:
    rule: allow
    port: '389'
    proto: tcp
    from_ip: "{{ item }}"
    comment: "OpenLDAP LDAP - {{ 'LAN' if item == network_home_private_cidr else 'Tailscale' }}"
  become: true
  loop:
    - "{{ network_home_private_cidr }}"
    - '100.64.0.0/10'

- name: Firewall - Allow LDAPS from LAN and Tailscale
  community.general.ufw:
    rule: allow
    port: '636'
    proto: tcp
    from_ip: "{{ item }}"
    comment: "OpenLDAP LDAPS - {{ 'LAN' if item == network_home_private_cidr else 'Tailscale' }}"
  become: true
  loop:
    - "{{ network_home_private_cidr }}"
    - '100.64.0.0/10'
