---
##
# The `sasl-gssapi.yml` configuration will allow OpenLDAP to make use of already-obtained Kerberos tickets,
# there are a number of services that do not support Kerberos authentication, but do support LDAP
# authentication. In those cases, we can use our OpenLDAP server as a kind of Kerberos proxy, or wrapper. To
# do this, we’ll have to configure OpenLDAP to “call out” to Kerberos via
# [saslauthd](http://manpages.ubuntu.com/manpages/oneiric/man8/saslauthd.8.html).
##

- name: Install sasl2-bin
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
    cache_valid_time: "{{ 60 * 15 }}"
  with_items:
    - sasl2-bin
  become: true

- name: Ensure sasl Group Exists
  ansible.builtin.group:
    name: sasl
    state: present
    system: true
  become: true

- name: Create Parent Directories for saslauthd Socket
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  with_items:
    - /var/spool/postfix
    - /var/spool/postfix/var
    - /var/spool/postfix/var/run
  become: true

- name: Create saslauthd Socket Directory in Postfix Chroot
  ansible.builtin.file:
    path: /var/spool/postfix/var/run/saslauthd
    state: directory
    owner: root
    group: sasl
    mode: u=rwx,g=rwx,o=
  become: true

- name: Configure saslauthd Defaults
  ansible.builtin.lineinfile:
    dest: /etc/default/saslauthd
    regexp: "{{ item.key }}"
    line: "{{ item.value }}"
  with_dict:
    '.*START=.*': 'START=yes'
    '.*MECHANISMS=.*': 'MECHANISMS="kerberos5"'
    '.*OPTIONS=.*': 'OPTIONS="-c -m /var/spool/postfix/var/run/saslauthd"'
  become: true
  notify:
    - "Restart 'saslauthd'"

- name: Create systemd Override Directory for saslauthd
  ansible.builtin.file:
    path: /etc/systemd/system/saslauthd.service.d
    state: directory
    owner: root
    group: root
    mode: u=rwx,g=rx,o=rx
  become: true

- name: Configure systemd PID File Override for saslauthd
  ansible.builtin.copy:
    dest: /etc/systemd/system/saslauthd.service.d/pidfile.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
    content: |
      [Service]
      PIDFile=/var/spool/postfix/var/run/saslauthd/saslauthd.pid
  become: true
  notify:
    - "Restart 'saslauthd'"

- name: Enable and Start saslauthd
  ansible.builtin.systemd:
    name: saslauthd.service
    state: started
    enabled: true
    daemon_reload: true
  become: true

- name: Configure OpenLDAP for saslauthd - Method
  ansible.builtin.lineinfile:
    dest: /etc/ldap/sasl2/slapd.conf
    owner: root
    group: root
    mode: u=rw,g=rw,o=r
    create: true
    regexp: '^pwcheck_method: .*'
    line: 'pwcheck_method: saslauthd'
  become: true
  notify:
    - "Restart 'slapd'"

- name: Configure OpenLDAP for saslauthd - Socket Path
  ansible.builtin.lineinfile:
    dest: /etc/ldap/sasl2/slapd.conf
    owner: root
    group: root
    mode: u=rw,g=rw,o=r
    regexp: '^saslauthd_path: .*'
    line: 'saslauthd_path: /var/spool/postfix/var/run/saslauthd/mux'
  become: true
  notify:
    - "Restart 'slapd'"

- name: Add 'openldap' User to 'sasl' Group
  ansible.builtin.user:
    name: openldap
    groups: sasl
    append: true
  become: true
  notify:
    - "Restart 'slapd'"
