---
##
# LDAP servers (and clients) allow for multiple authentication mechanisms to be
# used. One of the supported mechanisms is Kerberos, and this support can be
# achieved by combining GSSAPI (a standardized wrapper around Kerberos
# authentication), with SASL (a security abstraction library that can support
# GSSAPI).
##

- name: Install libsasl2-modules-gssapi-mit
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
    cache_valid_time: "{{ 60 * 15 }}"
  with_items:
    - libsasl2-modules-gssapi-mit
  become: true

- name: Create Host Principal for LDAP Server
  krb_principal:
    name: "{{ item }}"
    policy: hosts
  with_items:
    - "host/eddings.{{ domain }}"
  become: true

- name: Create Host Keytab for LDAP Server
  ansible.builtin.script: "add-keytab.sh --principal host/eddings.{{ domain }}"
  become: true
  notify:
    - "Restart 'slapd'"

# Both LDAP service principals are required because:
# - Clients connect to ldaps://intranet.{{ domain }} (private IP, no hairpin NAT)
# - Kerberos canonicalizes intranet.* to eddings.* (the server's actual hostname)
# - The keytab must contain both to handle canonicalization correctly
- name: Create Service Principals for LDAP Server
  krb_principal:
    name: "{{ item }}"
    policy: services
  with_items:
    - "ldap/eddings.{{ domain }}"
    - "ldap/intranet.{{ domain }}"
  become: true

- name: Create Service Keytab for LDAP Server (eddings)
  ansible.builtin.script: "add-keytab.sh --principal ldap/eddings.{{ domain }} --keytab /etc/ldap/ldap.keytab"
  become: true
  notify:
    - "Restart 'slapd'"

- name: Create Service Keytab for LDAP Server (intranet)
  ansible.builtin.script: "add-keytab.sh --principal ldap/intranet.{{ domain }} --keytab /etc/ldap/ldap.keytab"
  become: true
  notify:
    - "Restart 'slapd'"

- name: Ensure /etc/ldap/ldap.keytab exists with correct permissions
  ansible.builtin.file:
    path: /etc/ldap/ldap.keytab
    state: file
    owner: openldap
    group: openldap
    mode: 'u=r,g=r,o='
  become: true
  notify:
    - "Restart 'slapd'"

# Not sure why, but applying these slapd config attributes via `ldap_attr`
# fails. It seems it doesn't handle list values correctly?
- name: Create LDIF - slapd-sasl.ldif
  ansible.builtin.template:
    src: templates/slapd-sasl.ldif.j2
    dest: /etc/ldap/slapd-sasl.ldif
  become: true
  register: slapd_sasl_ldif
- name: Apply LDIF - slapd-sasl.ldif
  ansible.builtin.command:
    cmd: 'ldapmodify -Y EXTERNAL -H "ldapi:///" -f /etc/ldap/slapd-sasl.ldif'
  become: true
  when: slapd_sasl_ldif.changed
