# Ignore the Python virtual environment and external roles.
venv/
roles_external/

# Ignore IDE metadata.
.project
justdavis-ansible.git.code-workspace

# Ignore the Ansible Vault password file.
vault.password

# Ignore Ansible's temp files.
*.retry
.ansible/

# Ignore the test data and host inventory.
test/hosts-test
test/test.env

# Ignore the saved Ansible logs. (No way to reasonably version control them; hopefully backups catch them, if needed.)
logs/

# Ignore vim swp files.
*.swp
