# Documentation: http://blogs.aws.amazon.com/security/post/Tx3D6U6WSFGOK2H/A-New-and-Standardized-Way-to-Manage-Credentials-in-the-AWS-SDKs

# These AWS keys are for the karl@davisonlinehome.name account.
[default]
aws_access_key_id = "{{ vault_aws_credentials.justdavis.id }}"
aws_secret_access_key = "{{ vault_aws_credentials.justdavis.key }}"

# These AWS keys are for the karl@davisonlinehome.name account.
[justdavis]
aws_access_key_id = "{{ vault_aws_credentials.justdavis.id }}"
aws_secret_access_key = "{{ vault_aws_credentials.justdavis.key }}"

# These AWS keys are for the karl.davis@cms.hhs.gov account.
[hhsdevcloud]
aws_access_key_id = "{{ vault_aws_credentials.hhsdevcloud.id }}"
aws_secret_access_key = "{{ vault_aws_credentials.hhsdevcloud.key }}"
