---
#
# Variables here are applicable to all host groups.
#

# By default, assume we're not running a test.
is_test: false

# Ubuntu 20.04 (Fossa), per https://cloud-images.ubuntu.com/locator/ec2/
ami_id_ubuntu_20_04: ami-02ae530dacc099fc9

# Ubuntu 22.04 (Jammy), per https://cloud-images.ubuntu.com/locator/ec2/
ami_id_ubuntu_22_04: ami-09d56f8956ab235b3

# Ubuntu 24.04 (Noble), per https://cloud-images.ubuntu.com/locator/ec2/
ami_id_ubuntu_24_04: ami-0f40b6e9b85d19284

# The domains being managed.
#
# Note on Test Domains: The test variations below will actually be resolved
# (and so must exist) during tests. At a minimum, this is required for Let's
# Encrypt to generate certs, but is likely required by a bunch of other
# services being tested. The top-level test domains (e.g.
# `tests.justdavis.com`) are managed via Route 53, so that the tests can
# *actually manage* them. It's all kinda' complicated, but works.
domain: "{{ domain_test_prefix if is_test else '' }}justdavis.com"
domain_doh: "{{ domain_test_prefix if is_test else '' }}davisonlinehome.name"
domain_rps: "{{ domain_test_prefix if is_test else '' }}rpstourney.com"
domain_sw: "{{ domain_test_prefix if is_test else '' }}storywyrm.com"

# Root domains, which need to be split from subdomains because Let's Encrypt
# requests both bare domain + wildcard for these (e.g., justdavis.com + *.justdavis.com).
domains_root:
  - "{{ domain }}"
  - "{{ domain_doh }}"
  - "{{ domain_rps }}"
  - "{{ domain_sw }}"

# Subdomains, which need to be split from root domains because Let's Encrypt
# requests wildcard only for these to avoid redundancy (e.g., *.intranet.justdavis.com,
# NOT intranet.justdavis.com since it's already covered by *.justdavis.com).
domains_subdomains:
  - "preview.{{ domain_sw }}"
  - "intranet.{{ domain }}"

# Combined list of all managed domains, used for DNS, mail, and other services
# that don't care about the root/subdomain certificate distinction.
domains: "{{ domains_root + domains_subdomains }}"

# Domains to exclude from mail handling (Postfix virtual_mailbox_domains).
domains_mail_exclude:
  - "intranet.{{ domain }}"
domain_webmaster: "karl@{{ domain }}"

# The WAN IP addresses of the "home" network. Connections from these IPs will
# have more privileges.
# Note: This is the Longview static IP block assigned by Comcast, as of
# 2017-07-10.
network_home_public_cidr: '96.86.32.136/29'

# The LAN IP addresses of the "home" network.
network_home_private_cidr: '10.0.0.0/24'

people:
  karl:
    givenName: Karl
    sn: Davis
    uidAndGidNumber: 10000
    mail: karl@justdavis.com
    initialPassword: "{{ vault_people.karl.initialPassword }}"
  erica:
    givenName: Erica
    sn: Davis
    uidAndGidNumber: 10001
    mail: ericaannedavis@gmail.com
    initialPassword: "{{ vault_people.erica.initialPassword }}"
  archer:
    givenName: Archer
    sn: Davis
    uidAndGidNumber: 10004
    mail: archer@justdavis.com
    initialPassword: "{{ vault_people.archer.initialPassword }}"
  mason:
    givenName: Mason
    sn: Davis
    uidAndGidNumber: 10005
    mail: mason@justdavis.com
    initialPassword: "{{ vault_people.mason.initialPassword }}"
  stephen:
    givenName: Stephen
    sn: Davis
    uidAndGidNumber: 10002
    mail: stephena@justdavis.com
    initialPassword: "{{ vault_people.stephen.initialPassword }}"
  # The following entries aren't "people" but do need Samba accounts, so need to be here.
  media_server:
    givenName: Media
    sn: Server
    uidAndGidNumber: 10003
    mail: media_server@justdavis.com
    initialPassword: "{{ vault_people.media_server.initialPassword }}"
  karl_bot:
    givenName: Karl
    sn: Bot
    uidAndGidNumber: 10006
    mail: karl_bot@justdavis.com
    initialPassword: "{{ vault_people.karl_bot.initialPassword }}"

# The service accounts to be created in LDAP.
service_accounts: []
#  - jenkins

# This file was generated by running this command: ssh-keyscan -t rsa github.com > files/github.com.rsa.pub
ssh_known_host_github: "{{ lookup('file', 'files/github.com.rsa.pub') }}"

# SSH Keys.
ssh_key_karlmdavis:
  public: 'ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAfsA5B5cndBaI3XHMlSm6tbYJa+nwT+6j8EBOesbPKsxtghYDhCR5TII7TcDXnKPqWMmgSoLpYygYnoJpmrycXOFjC2ue7aSoD/KXxxDaNjml50pwvJlcwdxRhryXMhoc/tVQZ47HBnIy/KKF2TaHqqjXvwOJZflCl1jHuS7Z7j0MsyFxWpPVAu1SKKEVteCzTN5pKskigYKkJGggpkhthhOsM9XpPfXFZmlfYF4kEBhOnucRI9fWnjgz3aw+V3oStLSQqlFTdwFEVOdLpZyZDl+XTpF7+RPbl3ChkD9XgG9Q/ViJLSrVrITtgjzASbOIMF+ZGodUvIuWDuaCUX1lSr9YEWEkxKpVSVHO3JVMS+X+QqOkNvMffvrjxlIZ20C3ESSZ/PwVpZJRue9YmR/zBALT5AHcWAgH01265yIkmGz+2ZPpYPGn5YT6Ly0PP0yT1GSOBxhW55zeOwyhqade1XnLLw7Cz188z5OZ4O6U4ndZqaNpBU7tWK8C1vX6VILdibxhoCXLox6seSS27894YwqD4lA6YYifYKAQ/kZ/OVlCvhu4F/PetEgoVBivxADbWHKFcqF0okObvYLSRXeGMNKSuTqBrOimBsCekEzeGmMvvRt32CIUYHSzlVoAo1Jwgi7TLVTlXm0/rhAzDs2wq3xfhLRM85BertozqU= The personal, passphrase-protected SSH key for Karl M. Davis.'
ssh_keys_karl_public:
  - "{{ ssh_key_karlmdavis.public }}"
  - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHnAvrHuHiiQqz3WxHn3Ysm1BuF4xlT59lYpyoJIrs+d karl@ipad-pro'
  # mantis:
  - 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHlQsv8b+QzmbAKky9AJ14n0ZnqhYwe2Wont3jWuGoRF karl@justdavis.com'
  # FaceID-derived key from Termius iPhone app:
  - 'ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBEzoHynGA3rnwhji/xbIPzyzeelhXwxvJynckxuwyylMqOBD2mIVZR63Zn6J5gZbQMNcgGXPrvr4HgCVO0QBp5E= karl-iphone-faceid-key'
  # FaceID-derived key from Termius iPad app:
  - 'ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKUlRKH891LQPwqLLg853qVpR63MdNVm7HDYd4Exc2V4POlUYPcPeA5a+xfaBhlay7H91qu/uGm6s9wOWl6nJNs= karl-ipadpro-faceid-key'

# The account to create and use for test purposes.
test_username: 'test'
test_user_dn: "uid={{ test_username }},ou=people,dc=justdavis,dc=com"
test_password: "{{ vault_test_password }}"
