[Unit]
Description=Run offsite-backups.service daily.

[Timer]
# 03:00 UTC is late evening in the Eastern US.
OnCalendar=*-*-* 03:00:00
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
