[Unit]
Description=Emails the status of the %i service to root.

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c '/bin/systemctl status --full %i | /usr/bin/mail --subject "Status of Service %i" root'
User=nobody
Group=systemd-journal
