$TTL 1h ; sets the default time-to-live for this zone

; name ttl class rr    name-server                 email-addr  (sn ref ret ex min)
@          IN    SOA   ns1.{{ domain_doh }}.           hostmaster.{{ domain_doh }}. (
                              {{ ansible_date_time.year }}{{ '%02d' | format(ansible_date_time.month | int) }}{{ '%02d' | format(ansible_date_time.day | int) }}10 ; sn = serial number (yyyymmdd##)
                              15M        ; ref = refresh
                              15M        ; ret = update retry
                              2W         ; ex = expiry
                              15M        ; min = minimum
                              )

; Nameserver Records
; name             ttl    class   rr                name
@                         IN      NS                ns1.{{ domain_doh }}.
                          IN      NS                ns6.gandi.net.

; IPv4 Address Records
; name             ttl    class   rr                name
@                         IN      A                 {{ eddings_public_ip }}
ns1                       IN      A                 {{ eddings_public_ip }}

; CNAME Records
; name             ttl    class   rr                name
www                       IN      CNAME             @

; Mailserver Records
; name             ttl    class   rr     priority   name
@                         IN      MX     10         mail.{{ domain }}.

; TXT Records
; name             ttl    class   rr                name
; Other servers should accept mail for this domain that comes from systems
; matching at least one of our MX records or eddings' IP. All other mail should
; be rejected.
@                         IN      TXT               "v=spf1 mx ip4:{{ eddings_public_ip }} -all"
; The DKIM public key used by piers:
23324326-34C6-11E5-BA9F-6834DD816394._domainkey IN      TXT     ( "v=DKIM1; k=rsa; "
          "p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC1HonCzDWBdtv2eCK3rHjwrH9tO8uP7F/QTRdlZCkPfOWukaPe+jHF2uSOH7kZTVuC3kX2CCHgzaNyFiJIRwfuuxilc/QZr7nKwtjXvmBqdevt4KrcQErvWjrfKo5kVJ0iR98jL9wm13LKlFZgXtPhWzuZdsor6uILjT5gwQIsAQIDAQAB" )  ; ----- DKIM key 23324326-34C6-11E5-BA9F-6834DD816394 for davisonlinehome.name
; The DKIM public key used by eddings:
$INCLUDE /etc/bind/dkim-{{ domain_doh }}.record

; SRV Records
; name                   ttl    class   rr                name

; NS Records
; subdomain              ttl    class   rr                name
{% if not is_test %}
tests.{{ domain_doh }}.         IN      NS                ns-365.awsdns-45.com.
                                IN      NS                ns-1333.awsdns-38.org.
                                IN      NS                ns-1932.awsdns-49.co.uk.
                                IN      NS                ns-819.awsdns-38.net.
{% endif %}
