$TTL 15M ; sets the default time-to-live for this zone

; name ttl class rr    name-server                 email-addr  (sn ref ret ex min)
@          IN    SOA   ns1.preview.storywyrm.com.         hostmaster.storywyrm.com. (
                              {{ ansible_date_time.year }}{{ '%02d' | format(ansible_date_time.month | int) }}{{ '%02d' | format(ansible_date_time.day | int) }}01 ; sn = serial number (yyyymmdd##)
                              15M        ; ref = refresh
                              15M        ; ret = update retry
                              2W         ; ex = expiry
                              15M        ; min = minimum
                              )

; Nameserver Records
; name                   ttl    class   rr                name
@                               IN      NS                ns1.preview.storywyrm.com.

; IPv4 Address Records
; name             ttl    class   rr                name
@                         IN      A                 {{ eddings_public_ip }}
*                         IN      A                 {{ eddings_public_ip }}

; CNAME Records
; name             ttl    class   rr                name

; Mailserver Records
; name             ttl    class   rr     priority   name

; TXT Records
; name             ttl    class   rr                name
; Other servers should accept mail for this domain that comes from systems
; matching at least one of our MX records oe eddings' IP. All other mail should
; be rejected.
; The Google Search Console verification record
; (https://www.google.com/webmasters/tools/home):


; SRV Records
; name                   ttl    class   rr                name
