dn: olcDatabase={1}hdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: to attrs=userPassword
    by dn="cn=admin,dc=justdavis,dc=com" write
    by group.exact="cn=administrators,ou=groups,dc=justdavis,dc=com" write
    by anonymous auth
    by self write
    by * none
olcAccess: to attrs=shadowLastChange
    by self write
    by * read
olcAccess: to dn.base=""
    by * read
olcAccess: to *
    by dn="cn=admin,dc=justdavis,dc=com" write
    by group.exact="cn=administrators,ou=groups,dc=justdavis,dc=com" write
    by * read
