dn: cn=config
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /var/lib/acme/live/{{ domain }}/chain
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /var/lib/acme/live/{{ domain }}/cert
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /var/lib/acme/live/{{ domain }}/privkey
