dn: cn=config
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /etc/ssl/certs/ca-certificates.crt
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /var/lib/acme/live/{{ domain }}/cert
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /var/lib/acme/live/{{ domain }}/privkey
