dn: cn=config
# Tried this to get LDAPS working with Ubuntu Trusty clients, but it didn't work.
# See this page for the available options: https://gnutls.org/manual/html_node/Priority-Strings.html
#replace: olcTLSCipherSuite
#olcTLSCipherSuite: LEGACY
#-
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: /etc/letsencrypt/live/{{ domain }}/fullchain.pem
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: /etc/letsencrypt/live/{{ domain }}/cert.pem
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/letsencrypt/live/{{ domain }}/privkey.pem
