#!/bin/sh
### BEGIN INIT INFO
# Provides:          openvpn-iptables
# Required-Start:    $network $remote_fs $local_fs
# Required-Stop:     $network $remote_fs $local_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Persist OpenVPN Firewall Routing and Forwarding Rules
### END INIT INFO

# Allow already-established traffic to pass back and forth.
iptables --table filter --delete FORWARD --match state --state RELATED,ESTABLISHED --jump ACCEPT
iptables --table filter --append FORWARD --match state --state RELATED,ESTABLISHED --jump ACCEPT

# Allow traffic from the VPN to access the LAN.
iptables --table filter --delete FORWARD --source 10.8.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump ACCEPT
iptables --table filter --append FORWARD --source 10.8.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump ACCEPT
iptables --table filter --delete FORWARD --source 10.9.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump ACCEPT
iptables --table filter --append FORWARD --source 10.9.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump ACCEPT

# NAT/masquerade traffic from the VPN to the LAN.
iptables --table nat --delete POSTROUTING --source 10.8.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump MASQUERADE
iptables --table nat --append POSTROUTING --source 10.8.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump MASQUERADE
iptables --table nat --delete POSTROUTING --source 10.9.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump MASQUERADE
iptables --table nat --append POSTROUTING --source 10.9.0.0/24 --destination {{ network_home_private_cidr }} --out-interface {{ private_ip_interface }} --jump MASQUERADE

# Allow traffic from the VPN to access the internet.
iptables --table filter --delete FORWARD --source 10.8.0.0/24 --jump ACCEPT
iptables --table filter --append FORWARD --source 10.8.0.0/24 --jump ACCEPT
iptables --table filter --delete FORWARD --source 10.9.0.0/24 --jump ACCEPT
iptables --table filter --append FORWARD --source 10.9.0.0/24 --jump ACCEPT

# NAT/masquerade traffic from the VPN to the internet.
iptables --table nat --delete POSTROUTING --source 10.8.0.0/24 --out-interface {{ public_ip_interface }} --jump MASQUERADE
iptables --table nat --append POSTROUTING --source 10.8.0.0/24 --out-interface {{ public_ip_interface }} --jump MASQUERADE
iptables --table nat --delete POSTROUTING --source 10.9.0.0/24 --out-interface {{ public_ip_interface }} --jump MASQUERADE
iptables --table nat --append POSTROUTING --source 10.9.0.0/24 --out-interface {{ public_ip_interface }} --jump MASQUERADE

exit 0
