---

- name: "Restart 'nscd'"
  service:
    name: nscd
    state: restarted
  become: true
  when: "'Microsoft' not in ansible_kernel"

- name: "Restart 'nslcd'"
  service:
    name: nslcd
    state: restarted
  become: true
  when: "'Microsoft' not in ansible_kernel"

- name: "Restart 'sssd' Service"
  service:
    name: sssd
    state: restarted
  become: true
  listen: "Restart 'sssd'"
