---

- name: Meta - flush_handlers
  ansible.builtin.meta: flush_handlers

- name: Verify FQDN
  ansible.builtin.command:
    cmd: /bin/hostname --fqdn
  register: fqdn_result
  failed_when: (hostname_prefix + '.' + domain) != fqdn_result.stdout
  changed_when: false
